<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Untitled</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <!--
    JSPM Generator Import Map
    Edit URL: https://generator.jspm.io/#M2VhYGBkDM0rySzJSU1hKCtNdTDWM9IzNgQAVZxjHxkA
  -->
  <script type="systemjs-importmap">
  {
    "imports": {
      "vue": "https://ga.system.jspm.io/npm:vue@3.2.31/dist/vue.runtime.esm-bundler.js"
    },
    "scopes": {
      "https://ga.system.jspm.io/": {
        "@vue/reactivity": "https://ga.system.jspm.io/npm:@vue/reactivity@3.2.31/dist/reactivity.esm-bundler.js",
        "@vue/runtime-core": "https://ga.system.jspm.io/npm:@vue/runtime-core@3.2.31/dist/runtime-core.esm-bundler.js",
        "@vue/runtime-dom": "https://ga.system.jspm.io/npm:@vue/runtime-dom@3.2.31/dist/runtime-dom.esm-bundler.js",
        "@vue/shared": "https://ga.system.jspm.io/npm:@vue/shared@3.2.31/dist/shared.esm-bundler.js"
      }
    }
  }
  </script>
  
  <!-- SystemJS: Supports loading modules performantly in all browsers back to IE11 (depending on library support) -->
  <script src="https://ga.system.jspm.io/npm:systemjs@6.12.1/dist/s.min.js"></script>
  
  <!-- Uncomment SystemJS Babel below for an in-browser ES Module / TypeScript / JSX dev workflow. -->
  <!-- <script src="https://ga.system.jspm.io/npm:systemjs-babel@0.3.1/dist/systemjs-babel.js"></script> -->
  
  <!-- For testing: -->
  <script>
    System.import("vue").then(m => console.log(m));
  </script>
  
  <!-- Load an app.js file written in the "system" module format output (via RollupJS / Babel / TypeScript) -->
  <!-- <script type="systemjs-module" src="app.js"></script> -->
</body>
</html>
